@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

$reddit-orange: #FF5700;

* {
    box-sizing: border-box;
}

:root {
    font-size: 10px;
}

html,
body {
    width: 100%;
    height: 100%;
    max-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
    background-color: black;
    color: $reddit-orange;
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: space-between;
}

h1 {
    font-size: 2.4rem;
}

h2 {
    font-size: 1.6rem;
}

a {
    color: white;
    text-decoration-color: white;
    text-decoration-thickness: 1px;
    transition: all .2s ease;

    &:hover {
        text-decoration-color: $reddit-orange;
        text-decoration-thickness: 2px;
    }
}

header {
    width: 100%;
    padding: 10px 20px;
    background-color: #222;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#app {
    width: 100%;
    // height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    #imageondisplay {
        background-color: #111;
        height: 700px;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
        position: relative;

        &:hover {
            .img-caption {
                opacity: 1;
            }
        }

        img {
            max-height: 100%;
            max-width: 100%;
            margin: 0 auto;
            padding: 20px;
        }

        .img-caption {
            position: absolute;
            bottom: 0;
            left: 0;
            background-color: rgba(0,0,0,0.8);
            padding: 15px 55px 25px 25px;
            min-width: 200px;
            opacity: 0.5;
            transition: opacity .1s ease-in-out;

            p {
                margin: 5px 0;
                font-size: 1.3rem;
            }

            .caption-sub {
                padding-bottom: 3px;
                border-bottom: 1px solid $reddit-orange;
            }

            .caption-sub,
            .caption-meta {
                color: #aaa;
            }

            .caption-title {
                font-size: 1.7em;
                font-weight: bold;
            }
        }
    }

    #carrousel {
        background-color: #333;
        width: 100%;
        height: 150px;
        flex-grow: 0;
        display: flex;
        align-items: center;
        overflow-x: hidden;

        .miniature {
            height: 120px;
            width: 130px;
            margin: 5px;
            padding: 5px;
            transition: background-color .1s ease-out;
            cursor: pointer;
            display: flex;
            align-items: center;
            border: 1px solid (255,255,255,0.1);

            &:hover {
                background-color: $reddit-orange;
            }

            img {
                max-height: 110px;
                max-width: 120px;
                border: 1px solid rgba(0,0,0,0);
            }

            .actif {
                border: 1px solid $reddit-orange;
                box-shadow: 0 0 15px $reddit-orange;
            }
        }
    }

    footer {
        width: 100%;
        height: 40px;
        padding: 10px;
        background-color: #222;
        font-size: 1.2rem;
        color: #888;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    
        span {
            padding: 5px;
            border: 1px solid $reddit-orange;
            border-radius: 1rem;
            margin: 0 5px 0 5px;
            color: white;
    
            &:first-of-type {
                margin: 0 5px 0 0;
            }
        }
    }
}