<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> REDDIT: Hot en ce moment | ngratton (0270256) | TP2</title>
    <link rel="stylesheet" href="css/styles.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" defer></script>
    <script src="js/app.js" type="module" defer></script>
</head>
<body>
    <div id="app">
        <header>
            <h1>REDDIT: Hot en ce moment</h1>
        </header>

        <main id="main" role="main">
            <div id="imageondisplay" role="figure">
                <img 
                    :src="activeImage"
                    id="image-principale"
                    @load="imgLoad"
                />
                <div class="img-caption"  v-if="activePost" role="text">
                    <p v-if="activePost.subreddit" class="caption-sub">
                        r/{{ activePost.subreddit }}
                    </p>
                    <p class="caption-title">
                        {{ activePost.title }}
                    </p>
                    <p class="caption-meta" v-if="activePost.author">
                        Publié par {{ activePost.author }}  |  <a :href="`https://www.reddit.com/${activePost.permalink}`">Voir la publication sur Reddit</a>
                    </p>
                </div>
            </div>
            
            <div id="carrousel" role="menu">
                <!-- <div id="scroll-gauche">
                    <span>
                        <
                    </span>
                </div> -->
                <div class="scroll-container" style="left: 0px;">
                    <carrousel
                        v-for="(post, index) in postsList"
                        :key="index"
                        :index="index"
                        :id="post.id"
                        :title="post.title"
                        :url="post.url"
                        :thumbnail="post.thumbnail"
                        :permalink="post.permalink"
                        :author="post.author"
                        v-on:imageselectionnee="selectionPost(index)"
                    ></carrousel>
                </div>
                <!-- <div id="scroll-droite">
                    <span>
                        >
                    </span>
                </div> -->
            </div>
        </main>

        <footer>
            <p>Images en provenance de :
                <span v-for="sub in subreddits" role="text">r/{{ sub }}</span>
            </p>
        </footer>
    </div>

</body>
</html>